* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 80px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,0.05);
  z-index: 9999; 
}

.btn{ height: 92px; }

.llista {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.llista a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

#demostracio {
  display: flex;
  gap: 10px;
  align-items: center;
}

.boton {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.reserva {
  background-color: #ff7a00;
  color: black;
  border: none;
  font-weight: 600;
  padding: 10px 22px;
  margin: 0 60px 0 0;
  border-radius: 6px;
  cursor: pointer;
}
.reserva:hover { 
  background-color:black;
  color: white;
}

.introduccio{
  background-color: white;
  margin-top: 4em;
  background-image:url(../img/chevron_logo.svg);
  position: relative;
  height: 130vh;
  background-size: cover;
  
}
.nucleus{
  border: 0.5px solid grey;
  color: black;
  background-color: white;
  border-radius: 15px;
  padding: 0.6em;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;  
  justify-content: center;
  align-items: center;
  margin-top: 3em;
  }

#h1{
  color: #101820;
  font-size: 5rem;
  letter-spacing: -1.25px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 2em;
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 1em;
}

#p{
  font-weight: 500;
  padding: 8px;
  font-size: 22px;
  margin: 1em;
  text-align: center;
  background-color: white;
  color:#101820;
}

.demo{
  color: black;
  background-color: #ff7a00;
  border-radius: 15px;
  padding: 0.4em;
  font-size: 26px;  
  font-family: Arial, Helvetica, sans-serif;
  border: 0;
  margin: 1.25em;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  
}
.video {
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 3em;
  position: flex;
}
.h4{
  font-size: 22px;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  margin-top: 30px;
}

.h2{
  font-size: 34px;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  margin-left: 5em;
  margin-right: 5em;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    background: #f2f2f2; /* o el color que uses */
    font-size: 14px;
     color: #6c757d;
}

.footer a {
    text-decoration: none;
    margin: 0 5px;
    color: #6c757d;
}

@media (max-width: 600px) {
  #contenido {
    grid-template-columns: 1fr;
    padding: 40px 20px;
  }

  #info {
    text-align: center;
  }

  form .row{
    flex-direction: column;
  }

  header {
    height: auto;
    padding: 20px;
  }

  .llista, .reserva{
    display: none;
  }

  #banner {
    padding: 60px 10px;
  }

  #banner h2 {
    font-size: 28px;
  }

  #banner p {
    font-size: 16px;
  }
  header img { height: 20px; }
  .boton{
    margin-right: 60px;
  }
}
